<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="calculationBean" class="spring_framework.wideskills_com.lesson_05.xml.Calculation">
           <property name="salary" value="1000"/>
            <property name="bonus" value="100"/>
    </bean>

    <bean id="displayMessageBean" class="spring_framework.wideskills_com.lesson_05.xml.DisplayMessage">
        <property name="message" value="Application Context Example"/>

    </bean>

</beans>